[Unit]
Description=C-learning-platform Gunicorn instance
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/cpp-C-learning-platform
Environment="PATH=/var/www/cpp-C-learning-platform/venv/bin"
ExecStart=/var/www/cpp-C-learning-platform/venv/bin/gunicorn --config gunicorn.conf.py run:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
